{% extends 'base.html' %}

{% block content %}
    <h1>Add Institution</h1>
    <form method="POST"  enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="mb-3 required">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3 required">
            {{ form.code.label(class="form-label") }}
            {{ form.code(class="form-control") }}
        </div>
        <div class="mb-3 required">
            {{ form.apikey.label(class="form-label") }}
            {{ form.apikey(class="form-control") }}
        </div>
        <div class="actions">
            <input type="submit" value="Add Institution"  class="btn btn-primary" />
        </div>
    </form>
{% endblock %}
```